<nav class="topnav" id="myTopnav">
    <img class="logo" src="/assets/images/VRexpert_logo_white.png" alt="VR expert logo">
        <ul class="links">
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            <li class="nav__link hvr-underline-from-left"><a href="#">Link 1</a></li>
            <li class="nav__link hvr-underline-from-left"><a href="#">Link 2</a></li>
            <li class="nav__link hvr-underline-from-left"><a href="#">Link 3</a></li>
            <li class="nav__link hvr-underline-from-left"><a href="#">Link 4</a></li>
            </a>
        </ul>
    </nav>