<section class="container ">
    <img class="icon--title" src="/assets/images/touch-icon.svg" alt="">
    <h3 class="heading--title">Heading 3</h3>
    <p>Lorem ipsum dolor sit amet consectetur. Vitae id lorem montes lorem massa massa posuere faucibus. Integer in cursus aliquam morbi adipiscing. A mattis in sit varius tincidunt sit adipiscing semper. Suspendisse et vel lectus ipsum pretium.</p>
    <p class="text--accent">zjistit více  <i class="fa-solid fa-arrow-right icon--red"></i></p>
    <img class="banner center" src="/assets/images/banner_1.png" alt="">
</section>